.page-footer{
	/* background-image: url('http://static.asiawebdirect.com/m/kl/portals/srilanka-hotels-ws/homepage/colombo/nightlife/pagePropertiesImage/colombo-night.jpg.jpg'); */
	background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    /* color: white; */
}