.page-footer{
	background-image: url('https://res.cloudinary.com/dpf1htulz/image/upload/v1579466871/pm/footerB_rm996n.png');
	background-position:center;
	/* background-repeat:no-repeat; */
    background-size:cover;
	color: white;
}